
.app-top {
    margin: 0 0 3em;
  }
  
.calendar-component {
margin-left: 10px;
margin-right: 10px;
width: 50%;
float: left;
}

.mat-form-field{ width: 100%; }

.card {
  max-width: 25vw;
  min-width: 300px;
}

  