.myChart{
    width:100%;
    height: 100%; 
    margin: 10px;
}

.myCard{
    height: 100%;
    width: 100%;
   
}

.innerDiv{
    margin: 1rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0, 0.2);
}


.mat-grid-list{
    height: 90vh;
    min-height: 700px;
    min-width: 750px;
}




.mat-form-field{
    width: 300px;
    margin-right: 10px;
}

.mat-list-base .mat-list-item .mat-list{
    height: auto !important;
}